body, html {
  height: 100%;
}

.navbar {
  height: 40px;
}

section {
  margin-bottom: 20px;
}

#root {
  position: absolute;

  top: 60px;
  bottom: 20px;
  left: 0;
  right: 0;
}

.log-tabs {
  height: 30px;
  margin-bottom: 10px;

  .close {
    float: left;
    margin: -3px 8px 0 -8px;
  }
}

.log-container {
  position: absolute;

  top: 40px;
  bottom: 0;
  left: 20px;
  right: 20px;
}

.log-area {
  display: none;
  height: 100%;

  &.active {
    display: block;
  }

  .log-inner {
    height: 100%;

    .log {
      background: #383933;
      border: 1px solid gray;
      color: white;
      font-family: Monaco;
      font-size: 12px;
      overflow: scroll;
      padding: 5px;
      white-space: pre;

      height: 100%;


      &.wrap {
        white-space: pre-wrap;
        word-break: break-all;
      }
    }

    .actions {
      height: 100%;
      padding-top: 10px;
      text-align: left;
    }
  }

  &.none {
    .log {
      color: #888888;
      font-family: Helvetica, sans-serif;
      font-size: 32px;
      font-weight: bold;
      line-height: 48px;
      padding: 10% 20%;
      overflow: visible;
      text-align: center;
      white-space: normal;
    }
  }
}