!!!
%html
  %head
    %title Tailor

    %link{href: '/vendor/bootstrap/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '/stylesheets/application.css', rel: 'stylesheet'}

    %script{src: '/socket.io/socket.io.js'}

    %script{src: '/vendor/jquery.min.js'}
    %script{src: '/vendor/jquery.colorizeConsoleOutput.js'}

    %script{src: '/vendor/underscore-min.js'}
    %script{src: '/vendor/backbone-min.js'}

    %script{src: '/js/tailor.js'}

  %body
    .navbar
      .navbar-inner
        .brand Tailor

        %form.add-file-form.navbar-form.pull-right
          .input-append
            %input.add-file-path-name.span6{type: 'text', placeholder: '/path/to/log/file'}
            %button.add-file.btn{type: 'submit'} Add File

    #root.container-fluid
      %section.row-fluid.log-tabs
        %ul.span12.nav.nav-tabs
          %li.none No logs loaded yet
      .log-container
        %section.row-fluid.log-area
          .log.span12
