!!!
%html
  %head
    %title Tailor

    %link{href: '/vendor/bootstrap/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '/stylesheets/application.css', rel: 'stylesheet'}

    %script{src: '/socket.io/socket.io.js'}

    %script{src: '/vendor/jquery.min.js'}
    %script{src: '/vendor/jquery.colorizeConsoleOutput.js'}

    %script{src: '/vendor/underscore-min.js'}
    %script{src: '/vendor/backbone-min.js'}

    %script{src: '/js/tailor.js'}

    %script{id: 'log-file-tab-none-template', type: 'text/template'}
      %li.none No logs loaded yet

    %script{id: 'log-output-area-none-template', type: 'text/template'}
      %section.row-fluid.log-area.none
        .log.span12
          No logs loaded yet. Add the first log by entering the file path in the box on the upper right.

    %script{id: 'log-file-tab-template', type: 'text/template'}
      %li{class: '<%= log_id %>'}
        %a{href: '#<%= log_id %>'}
          %span.close &times;
          <%= log_file_path %>

    %script{id: 'log-output-area-template', type: 'text/template'}
      %section.row-fluid.log-area{id: '<%= log_id %>'}
        .log.span12

  %body
    .navbar
      .navbar-inner
        .brand Tailor

        %form.add-file-form.navbar-form.pull-right
          .input-append
            %input.add-file-path-name.span6{type: 'text', placeholder: '/path/to/log/file'}
            %button.add-file.btn{type: 'submit'} Add File

    #root.container-fluid
      %section.row-fluid.log-tabs
        %ul.span12.nav.nav-tabs
      .log-container