<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Tailor</title>
    <link href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet' />
    <link href='/stylesheets/application.css' rel='stylesheet' />
    <script src='/socket.io/socket.io.js'></script>
    <script src='/vendor/jquery.min.js'></script>
    <script src='/vendor/jquery.colorizeConsoleOutput.js'></script>
    <script src='/vendor/underscore-min.js'></script>
    <script src='/vendor/backbone-min.js'></script>
    <script src='/js/tailor.js'></script>
    <script id='log-file-tab-none-template' type='text/template'>
      <li class='none active'>No logs loaded yet</li>
    </script>
    <script id='log-file-tab-template' type='text/template'>
      <li class='<%= log_id %>'>
        <a href='#<%= log_id %>'>
          <span class='close'>&times;</span>
          <%= log_file_path %>
        </a>
      </li>
    </script>
    <script id='log-output-area-none-template' type='text/template'>
      <section class='log-area none active'>
        <div class='log-inner row-fluid'>
          <div class='log span12'>
            No logs loaded yet. Add the first log by entering the file path in the box on the upper right.
          </div>
        </div>
      </section>
    </script>
    <script id='log-output-area-template' type='text/template'>
      <div class='log-inner row-fluid'>
        <div class='log span10'></div>
        <div class='actions span2'>
          <div class='search'>
            <div class='search-term'>
              <input class='input-block-level search-query' placeholder='Search' type='text' />
              <div class='hint clear-search'>
                <a href='#'>Clear</a>
              </div>
            </div>
            <div class='search-type'>
              <label class='checkbox inline'>
                <input checked='checked' id='highlight_search' name='search_type' type='checkbox'>Highlight</input>
              </label>
              <label class='checkbox inline'>
                <input id='filter_search' name='search_type' type='checkbox'>Filter</input>
              </label>
            </div>
          </div>
          <hr class='divider' />
          <div class='wrap-option'>
            <label class='checkbox wrap-lines'>
              <input name='wrap_<%= log_id %>' type='checkbox'>Wrap lines</input>
            </label>
          </div>
        </div>
      </div>
    </script>
  </head>
  <body>
    <div class='navbar'>
      <div class='navbar-inner'>
        <div class='brand'>Tailor</div>
        <form class='add-file-form navbar-form pull-right'>
          <div class='input-append'>
            <input class='add-file-path-name span6' placeholder='/path/to/log/file' type='text' />
            <button class='add-file btn' type='submit'>Add File</button>
          </div>
        </form>
      </div>
    </div>
    <div class='container-fluid' id='root'>
      <div id='logs'>
        <section class='row-fluid log-tabs'>
          <ul class='span12 nav nav-tabs'></ul>
        </section>
        <div class='log-container'></div>
      </div>
    </div>
  </body>
</html>
